@font-face {
    font-family: 'Raleway';
    src: url('.assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('.assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

* {
    font-family: "Raleway", sans-serif;
}

.notebox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
}

.inputbox {
    padding: 16px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}