.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    background-color: whitesmoke;
    border-radius: 24px;
    border: 3px solid whitesmoke;
}

.btn:hover {
    cursor: pointer;
    border: 3px solid rgb(90, 90, 91);
}

.btn > img {
    height: 24px;
    width: 24px;
}